<div class="container">
  <div class="row">
    <main class="col-md-12">
      <!-- My code start from here -->
      <h1>Welcome to the About page!</h1>
      <img class="A" src="images/David.jpg" alt="my picture" />
      <br />
      <br />
      <br />
      <br />
      <br />

      <h2>About Me</h2>
      <p>
        My name is David Oduwole, and I am a student at Seneca Polytechnic,
        Ontario, Canada, studying Business Information Technology. I love the
        WEB700 program.
      </p>
      <br />
      <p>doduwole@myseneca.ca</p>
      <!-- My code ends here  -->
    </main>
  </div>
</div>
